<ion-content>
  <div class="campus">
    <img src="../assets/icon/saintmarc.png" alt="logo campus saint marc" />
  </div>
  <div class="ecole">
    <ion-header>
      <ion-toolbar>
        <ion-title class="school_title">Écoles</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <section>
    <ion-button
      class="schoolName ion-text-uppercase"
      expand="block"
      *ngFor="let school of tabschool[0]"
      (click)="redirectCards(school.id)"
      >{{school.name}}</ion-button
    >
  </section>
</ion-content>
