<ion-content [fullscreen]="true">
  <ion-content class="ion-margin-top ion-padding-top ion-text-center">
    <form [formGroup]="register">
      <h2 class="head-title" >
      <span>Nous avons besoin </span> <br>
      <span>d'informations</span>
      </h2>

      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item class="labelo">
              <ion-input
                type="text"
                name="nom"
                id="nom"
                formControlName="nom"
                class="form form_input"
                placeholder=" Nom"
              ></ion-input>
            </ion-item>
            <ion-item class="labelo">
              <ion-input
                type="text"
                name="prenom"
                id="prenom"
                formControlName="prenom"
                class="form form_input"
                placeholder=" Prénom"
              ></ion-input>
            </ion-item>
            <ion-item class="labelo">
              <ion-input
                type="number"
                name="age"
                id="age"
                formControlName="age"
                class="form form_input"
                placeholder=" Âge"
              ></ion-input>
            </ion-item>
            <ion-item class="labelo">
              <ion-input
                type="text"
                name="tel"
                id="tel"
                formControlName="tel"
                class="form form_input"
                placeholder=" Téléphone"
              ></ion-input>
            </ion-item>
            <ion-item class="labelo">
              <ion-input
                type="text"
                name="email"
                id="email"
                formControlName="email"
                class="form form_input"
                placeholder=" Email"
              ></ion-input>
            </ion-item>
            <ion-item class="labelo">
              <ion-input
                type="text"
                name="lastdiplome"
                id="lastdiplome"
                formControlName="lastdiplome"
                class="form form_input"
                placeholder=" Dernier diplôme"
              ></ion-input>
            </ion-item>
              
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>I agree with Private Policy</ion-label>
                <ion-radio slot="start" color="primary" value="apple"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
       
        <ion-col class="sign-up-col">
          <ion-button
            expand="full"
            [disabled]="loading"
            
            class="signup-col signup-col_btn"
            (click)="signup()"
            color="primary"
          >
            <span *ngIf="!loading">Commencer</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
