.head-title
{
    color: #40AACF; 
    margin-top: 50px;
}


.labelo {
    color :rgb(3, 92, 124);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid  rgb(107, 106, 106);
    border-radius: 10px;
    margin-bottom: 10px;
}